[project]
	description = Remote multi-server automation tool
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/B.Y. (yunshan)
[access "refs/for/refs/*"]
	read = group user/B.Y. (yunshan)
	push = group user/B.Y. (yunshan)
	label-Code-Review = -2..+2 group user/B.Y. (yunshan)
	label-Verified = -1..+1 group user/B.Y. (yunshan)
	rebase = group user/B.Y. (yunshan)
	removeReviewer = group user/B.Y. (yunshan)
	submit = group user/B.Y. (yunshan)
[access "refs/heads/*"]
	read = group user/B.Y. (yunshan)
	create = group user/B.Y. (yunshan)
	push = +force group user/B.Y. (yunshan)
	pushMerge = group user/B.Y. (yunshan)
[access "refs/tags/*"]
	push = +force group user/B.Y. (yunshan)
	pushTag = group user/B.Y. (yunshan)
	pushSignedTag = group user/B.Y. (yunshan)
